/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;

}

header {
    position: relative;
}

header img {
    position: absolute;
    top: -60px; /* Adjust this value to set the distance from the top */
    left: 10px; /* Adjust this value to set the distance from the left */
    height: 200px; /* Adjust this value to set the height of the logo */
    width: auto; /* Maintain aspect ratio */
}


/* Navigation Styles */
nav {
    
    color: #fff;
    text-align: right;
    padding: 20px ;
    
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-align:right;

}

*
{
    margin:0px;background-color: black;

}
h2
{   
    display: block;
    width:100%;
    text-align:center;
    margin-top: 20px;
    color:white;
    font-family:arial,Tahoma;
}
.slider
{
    width:600px;
    overflow:hidden;
    margin:100px auto;
    border:3px  darkgrey;
}
.slider-content
{
    width:3000px;
    position:relative;
    animation:slider 15s infinite ease-in-out;
  animation-direction: alternate;

}
.slider-content img
{
    float:left;
    width:600px;
    height:300px;
}




.slider {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    border: 3px darkgrey;
}

.slider-content {
    width: 100%; /* Set to 100% for full-width */
    position: relative;
}

.slider-content img {
    width: 100%;
    height: 400px;
    display: block; /* Remove any potential spacing issues */
}



/* Banner Styles */
.banner {
    text-align: center;
    padding: 50px 20px;
}



.shop-now-button {
    display: inline-block;
    background: #9dc290;
    color: rgb(18, 18, 18);
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
}



.shop-now-button:hover {
    background: #555;
}




.featured-products {
    text-align: center;
}

.product-card {
    display: inline-block;
    margin: 20px;
    text-align: left;
}

.product-card img {
    width: 100%;
    max-width: 250px; /* Set a maximum width for consistency */
    height: auto;
    border: #9dc290 ;
}

.product-card h3 {
    margin-top: 10px;
    color: #f7f9f6;
}

.product-card a {
    display: block;
    margin-top: 10px;
    background-color: rgb(18, 18, 18);
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
}
.product-card p {
    
    color: #f7f9f6;
    max-width: 250px;
}

.add-to-cart-button  {
    padding: 10px 20px;
    background-color: #9dc290;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 0.875rem;
    cursor: pointer;
  }
  
  .add-to-cart-button2
{
    padding: 10px 20px;
    background-color: #9dc290;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 0.875rem;
    cursor: pointer;


}
